################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OcelotServer/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0
